<div>
  <section class="tech">
    <h2>Tech</h2>
    <ul class="tiles">
      <li>
        <div class="tile">
          <div class="image csharp"></div>
          <h3>C#</h3>
        </div>
      </li>
      <li>
        <div class="tile">
          <div class="image netcore"></div>
          <h3>.NET Core</h3>
        </div>
      </li>
      <li>
        <div class="tile">
          <div class="image docker"></div>
          <h3>Docker</h3>
        </div>
      </li>
      <li>
        <div class="tile">
          <div class="image angular"></div>
          <h3>Angular</h3>
        </div>
      </li>
      <li>
          <div class="tile">
            <div class="image jenkins"></div>
            <h3>Jenkins</h3>
          </div>
        </li>
      <li>
        <div class="tile">
          <div class="image mongodb"></div>
          <h3>mongoDB</h3>
        </div>
      </li>
      <li>
          <div class="tile">
            <div class="image sqlserver"></div>
            <h3>SQL Server</h3>
          </div>
      </li>
      <li>
          <div class="tile">
            <div class="image oracle"></div>
            <h3>Oracle</h3>
          </div>
      </li>
    </ul>
  </section>
</div>
