<div>
  <section class="cert">
    <h2>Certifications</h2>
    <ul class="tiles">
      <li>
        <a href="https://www.youracclaim.com/badges/2f2524d9-a541-432f-b98c-5447b5c38b0a" target="_blank" rel="noopener noreferrer">
        <div class="tile">
          <div class="image certOracle"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="https://www.youracclaim.com/badges/bca16ceb-8c50-423c-b74d-84935fbd9588" target="_blank" rel="noopener noreferrer">
          <div class="tile">
            <div class="image certAzure"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.youracclaim.com/badges/be10d2bf-269e-4d80-8028-4a595f5912ec" target="_blank" rel="noopener noreferrer">
          <div class="tile">
            <div class="image certExam480"></div>
          </div>
        </a>
      </li>
      <li>
          <div class="tile">
            <div class="image certScrum"></div>
          </div>
      </li>
    </ul>
  </section>
</div>
