<div id="resume">
  <section>
    <h1>Matheus Sexto</h1>
    <h2>.NET Full-Stack Developer</h2>
    <h3><a href="https://firebasestorage.googleapis.com/v0/b/portfolioproject-66d22.appspot.com/o/Resume%20-%20Matheus%20Sexto.pdf?alt=media&token=35368e68-8f96-47f5-a5bb-cd0eee71fcf3" target="_blank" rel="noopener noreferrer">View My English Resume</a></h3>
    <h3><a href="https://firebasestorage.googleapis.com/v0/b/portfolioproject-66d22.appspot.com/o/Competence%20Dossier%20%20-%20Matheus%20Sexto.pdf?alt=media&token=de01aa97-9f96-4d86-bef5-ceaf1aee4356" target="_blank" rel="noopener noreferrer">View My Competence Dossier</a></h3>
  </section>
</div>
