<div id="resume">
  <section>
    <h1>Matheus Sexto</h1>
    <h2>.NET Full-Stack Developer</h2>
    <h3><a href="https://firebasestorage.googleapis.com/v0/b/portfolioproject-66d22.appspot.com/o/CV%20-%20Matheus%20Sexto-Moderno.pdf?alt=media&token=bcdbacaf-ff99-41f6-acf4-a1ef6e395164" target="_blank" rel="noopener noreferrer">View My Portuguese Resume</a></h3>
    <h3><a href="https://firebasestorage.googleapis.com/v0/b/portfolioproject-66d22.appspot.com/o/Resume%20-%20Matheus%20Sexto.pdf?alt=media&token=dcfdc635-981e-484f-8303-bd7fa651205f" target="_blank" rel="noopener noreferrer">View My English Resume</a></h3>
  </section>
</div>
